body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 2rem;
}

button {
  margin-top: 8px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  width: 100px;
}

img {
  max-width: 100%;
}
